.problem-list {
  padding: 3rem;
  width: 90vw;
  margin: 0 auto;

  .pointer {
    cursor: pointer;
  }

  .flex {
    display: flex;
    align-items: center;
  }
  .gap {
    margin-right: 2rem;
  }
}
