.competition-page {
  padding: 0 5rem;
  height: 90vh;

  .table {
    width: 50vw;
    height: 80vh;
    overflow-y: auto;
    background-color: white;
    margin: 0rem auto;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: grey;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(95, 93, 93);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .grey {
    color: grey;
  }

  .compeitition-card {
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 3rem;
  }

  .compeitition-card:last-child {
    margin-bottom: 1rem;
  }

  .card-img {
    height: 86px;
    width: 20%;
    border-radius: 15px;
  }

  .card-content {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .card-info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pointer {
    cursor: pointer;
  }

  .competition-header {
    padding: 0.75rem 1.25rem;
    color: grey;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
  }

  .primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .primary:hover {
    background-color: #204d74;
  }

  .btn-col {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    height: 2rem;
  }

  .btn:hover {
  }

  .register {
    background-color: #14334e;
  }
}
