.admin-page {
  min-height: 100vh;
  display: flex;
  margin-top: -1rem;
  font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;

  .admin-panel {
    width: 20%;
    background: #a8d5e5;
  }
  .menu-item {
    padding: 10px;
  }
  h1 {
    color: #165a72;
    margin: 50px auto;
    font-size: 40px;
  }
  .menu1 {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  h2 {
    color: #165a72;
  }

  .users-page {
    width: 80%;
    padding: 2rem;
    text-align: center;
  }
  .users-page.collapse {
    width: 90%;
  }
  .center {
    text-align: center;
  }
}
